// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.card-header{
//  width: 100%;
//}


// Progress shit:
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
          -webkit-linear-gradient(-45deg,
                  transparent 33%, rgba(0, 0, 0, .1) 33%,
                  rgba(0,0, 0, .1) 66%, transparent 66%),
          -webkit-linear-gradient(top,
                  rgba(255, 255, 255, .25),
                  rgba(0, 0, 0, .25)),
          -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}


progress[value]::-moz-progress-bar {
  background-image:
          -moz-linear-gradient(
                          135deg,
                          transparent 33%,
                          rgba(0, 0, 0, 0.1) 33%,
                          rgba(0, 0, 0, 0.1) 66%,
                          transparent 66%
          ),
          -moz-linear-gradient(
                          top,
                          rgba(255, 255, 255, 0.25),
                          rgba(0, 0, 0, 0.25)
          ),
          -moz-linear-gradient(
                          left,
                          #09c,
                          #f44
          );

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

//progress[value]::-webkit-progress-value::before {
//  content: '80%';
//  position: absolute;
//  right: 0;
//  top: -125%;
//}

@-webkit-keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}


progress[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}
