#stats {
  line-height: 2em;
}

.badge {
  margin-left: 7px;
  font-size: 100%;
}

.meta {
  color: #666666;
}



.simple-calendar .day {
  height: 30px !important;
  width: 30px !important;
}

.simple-calendar .next-month {
  background-color: #dd767f !important;
}

.simple-calendar .future {
  background-color: transparent !important;
}

.simple-calendar .has-events {
  background-color: #498b00 !important;
}


.simple-calendar > .table{
  max-width: 200px;
}

.calendar-heading {
  font-style: italic;
}

.walknum {
  text-align: center;
  font-size: 90%;
  color: #1e5b06
}